.body {
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background: wheat;
}

.header {
    display: inline-flex;
}

.container-tablero {
    display: flex;
    align-items: flex-end;
}

.footer {
    display: flex;
}